* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* top navbar */
.top-nav {
    height: 118px;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

img {
    height: 97px;
    width: 100px;
}

i {
    height: 21px;
    width: 147px;
    color: #58595B;
    position: absolute;
    right: 280px;
    font-size: 20px;
}

p {
      height: 21px;
    width: 147px;
    color: #58595B;
    position: absolute;
    right: 100px;
    font-size: 20px;
    font-weight: 400;
}

 /* second navbar */
.sub-nav {
    width: 100%;
    background-color: #58595B; /* light gray */
    padding: 10px 0;
    color: #ffffff;
    
    display: flex;             
    justify-content: space-evenly; 
    align-items: center; 
}

.item {
    display: flex;
    justify-content: space-around;
    text-decoration: none;


}
.item {
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.item:hover {
    color: #ffcc00; 
}
/* main */
.hero {
    background-image: url("Biofit-Index-Banner pic.jpg");
    height: 418px;
    width: 100%;
    background-size: cover;
}
.container {
    height: 75px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
     background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 154px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.container p{
    color: grey;
    height: 30px;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    position: relative; 
    cursor: pointer;
}

.container p::after {
    content: "";
    display: block;
    height: 2px;          
    width: 100%;          
    background-color: grey; 
    margin-top: 5px;      
    transition: background-color 0.3s;
}


.container p:hover{
    color: white;
}

.container p:hover::after {
    background-color: white; 
}

.img {
    height: 620px;
    width: 620px;
    background-color: grey;
    background-size: cover;
}
 /* products */
 .products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; 
    gap: 40px;
    padding: 40px 50px;
    background-color: #f8f8f8;
}

.product img {
    height: 690.2px;
    width: 690.2px;
    object-fit: cover;
}

/* box */


.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px; 
    padding: 40px 0;
    max-width: 1200px; 
    margin: 0 auto; 

}
h1 {
    height: 84.5px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #2d313a;
    font: 45px rl,verdana;
    margin: 20px 0px 5px;
    padding: 25px 0px 10px;
}

.box-two {
    flex: 1 1 calc(25% - 30px); 
    max-width: calc(25% - 30px);
    height: 115px;
    width: 252px;
    border: 1px solid grey;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-two img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* icon */

.container-two {
    height: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-two i {
    position: absolute;
    left: 50%;
   
}

.animation {
    height: 23px;
    width: 100%;
    background-color: #58595B;
    color: #ffffff;
    font-size: 15px;
    overflow: hidden;      
    position: relative;    
}

.animation span {
    display: inline-block;
    white-space: nowrap;   
    position: absolute;
    will-change: transform;
    animation: slide-in 5s linear infinite; 
}

@keyframes slide-in {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}


/* navbar footer  */
.nav-three {
    height: 340px;
    width: 100%;
    background-color: #333333;
    color: #58595B;
    margin-top: 10px;
    font: 14px rl,verdana;
    display: flex;           
    flex-direction: flex-start;     
    align-items: center; 
    padding-top: 15px;
    padding-left: 200px;    
    justify-content: space-around;
    position: relative;
    
    
}

.footer-list {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.nav-three a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 5px;    
}

.nav-three span {
    color: #ffc107; 
    font-weight: 600;
    margin-bottom: 5px;     
}
/* last */
.end {
height: 220px;
width: 100%;
background-color: #333333;
justify-content: center;
}

.end h5 {
  font-size: 23px;
  color: #f8f8f8;
  position: absolute;
  left: 40%;
  align-self: center;
}

.end p {
  font-size: 13px;
  color: #f8f8f8;
  position: absolute;
  left: 47%;
  padding-top: 50px;
  align-self: center;
}

.end div p {
  font-size: 13px;
  color: #f8f8f8;
  position: absolute;
  left: 47%;
  padding-top: 260px;
  align-self: center;
}